<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Test App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar #mySearchbar
    placeholder="Introduce busqueda"
    (ionClear)="getItemsFilter($event)"
    (input)="getItemsFilter($event)">
  </ion-searchbar>

  <ion-list>
    <app-item-photo
      *ngFor="let photo of photosJson; let i= index"
      [photo]="photo"></app-item-photo>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles"
      loadingText="Cargando
      datos...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>


</ion-content>
